@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sacramento&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.logo{
    text-align: center;
    margin-bottom: 20px;
}

.logo-img{
    width: 80px;
}

.container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bs-dark-bg-subtle);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    padding: 30px;
    background-color: var(--bs-dark);
    width: 350px;
    margin-bottom: 20px;
}

.button{
    margin-top:20px;
    text-align: center;
}
h4.title{
    color: aliceblue;
    margin-bottom: 20px;
}