/* --- Global & Fonts --- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Sacramento&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    background-color: var(--bs-dark-bg-subtle);
    overflow-y: scroll;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.275rem;
    color: var(--bs-emphasis-color);
}

/* --- Login/Landing Page (Formerly .main) --- */


.auth-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bs-dark-bg-subtle);
}

.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-card {
    border-radius: 6px;
    padding: 30px;
    background-color: var(--bs-dark);
    width: 350px;
    margin-bottom: 20px;
    box-shadow: 0 0 .875rem rgba(34, 46, 60, 0.5);
}

h4.auth-title {
    text-align: center;
    margin-bottom: 15px;
    color: aliceblue !important;
}

.logo {
    text-align: center;
    margin-bottom: 10px;
}

.logo-img {
    width: 80px;
}

.button {
    margin-top: 20px;
    text-align: center;

}

/* --- Dashboard Layout --- */
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    max-width: 264px;
    min-width: 264px;
    background: var(--bs-dark);
    transition: all 0.35s ease-in-out;
}

#sidebar.collapsed {
    margin-left: -264px;
}

.main {
    /* Dashboard Content Area */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: var(--bs-dark-bg-subtle);
}

/* --- Sidebar & Nav Elements --- */
.sidebar-logo {
    padding: 0.35rem;
}

.sidebar-logo a {
    color: #e9ecef;
    font-size: 1.2rem;
    font-weight: 600;
}

.sidebar-link {
    display: block;
    padding: .625rem 1.625rem;
    color: #e9ecef;
    font-size: 0.875rem;
    position: relative;
    transition: background-color 0.3s ease;
}

.sidebar-header {
    color: #e9ecef;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .37rem;
}

.sidebar-nav {
    flex-grow: 1;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 0;
}


.sidebar-link i {
    width: 30px;
    text-align: center;
    margin-right: 1.75rem;
}

.content {
    flex: 1;
    max-width: 100vw;
    width: 100vw;
}

img.logo {
    width: 80px;
    margin-right: 0.15rem;
}


@media (min-width: 768px) {
    .content {
        width: auto;
    }
}

.navbar-expand .navbar-nav {
    margin-left: auto;
}

.fa-solid {
    margin-right: 0.5rem;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}